.body {
  background: var(--primary-clr-three);
  background-image: url(/assets/illustrations/bg-pattern-circle.svg);
  background-repeat: no-repeat;

  transition: var(--transition);

  &--home {
    background-size: 49.13rem;
    background-position: right 50% top -34.75rem;
  }

  &--pricing,
  &--about,
  &--contact {
    background-size: 48.75rem;
    background-position: right -29.94rem top -40.25rem;
  }
}

@media (min-width: 43.75rem) {
  .body {
    &--home {
      background-size: 59.69rem;
      background-position: right 50% top -41.88rem;
    }

    &--pricing,
    &--about,
    &--contact {
      background-position: right -32.25rem top -29.06rem;
    }
  }
}

@media (min-width: 62.5rem) {
  .body {
    &--home {
      background-size: 48.75rem;
      background-position: right -21% top -10.75rem;
    }

    &--pricing,
    &--about,
    &--contact {
      background-position: right -8.75rem top -32.94rem;
    }
  }
}
