.cta-section {
  padding: 0 1.25rem;
  margin-top: 2.56rem;

  &__content {
    max-width: var(--mw-1110);
    margin: 0 auto;

    text-align: center;

    display: grid;
    grid-template-rows: 1fr 2fr;

    justify-items: center;
    gap: 2rem;
  }

  &__heading {
    color: var(--secondary-clr-one);
    align-self: end;
  }
}

@media (min-width: 43.75rem) {
  .cta-section {
    margin-top: 5.06rem;

    &__content {
      gap: 2.44rem;
    }
  }
}

@media (min-width: 62.5rem) {
  .cta-section {
    &--home {
      margin-top: 6rem;
    }

    &--pricing {
      margin-top: 5.31rem;
    }

    &--about {
      margin-top: 5.63rem;
    }

    &--contact {
      margin-top: 5rem;
    }

    &__content {
      text-align: start;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;

      justify-items: center;
      gap: 2.06rem;
    }

    &__heading {
      font-size: 3rem;
      line-height: 1.16;
      letter-spacing: -0.02rem;

      justify-self: start;
      align-self: start;
    }
  }

  .cta-form--section {
    transform: translateX(2.81rem);
    gap: 0;
  }
}
