.footer {
  padding: 2.56rem 1.44rem 3.38rem 1.5rem;
  margin-top: 3.81rem;

  background: var(--secondary-clr-two);
  background-image: url(/assets/illustrations/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-position: right 50% bottom -37.81rem;

  transition: var(--transition);

  &__content {
    max-width: var(--mw-1110);

    display: grid;
    justify-items: center;
    gap: 2.31rem;

    margin: 0 auto;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 1.56rem;

    text-align: center;

    &-link {
      color: var(--primary-clr-two);
      opacity: 0.7;

      @media (hover: hover) {
        &:is(:hover, :focus, :focus-visible) {
          color: var(--primary-clr-one);

          transition: var(--transition);
        }
      }
    }
  }

  &__social-list {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    &-icon {
      fill: var(--primary-clr-two);

      @media (hover: hover) {
        &:is(:hover, :focus, :focus-visible) {
          fill: var(--primary-clr-one);
          transition: var(--transition);
        }
      }
    }
  }
}

@media (min-width: 43.75rem) {
  .footer {
    padding: 2rem 2.5rem 1.94rem 2.44rem;
    margin-top: 2.25rem;

    background-size: 91%;
    background-position: right -447% bottom -30.56rem;

    &__content {
      max-width: var(--mw-1110);
      margin: 0 auto;

      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      justify-items: start;
      align-items: center;
      gap: 3.31rem;
    }

    &__logo {
      justify-self: start;
    }

    &__nav-list {
      display: flex;
      flex-direction: row;
      gap: 2.5rem;

      text-align: center;

      &-link {
        opacity: 0.7;
      }
    }

    &__social-list {
      justify-self: end;
    }
  }
}

@media (min-width: 62.5rem) {
  .footer {
    padding: 2rem 2.5rem 1.88rem 2.44rem;
    margin-top: 5.88rem;

    background-position: right -682% bottom -59.06rem;

    &__content {
      display: grid;
      grid-template-columns: 1fr 5fr 1fr;
      gap: 3.5rem;
    }
  }
}
