.primary__link {
  font-family: var(--ff-secondary);
  font-size: var(--fs-20);
  font-weight: var(--fw-700);
}

.secondary__link {
  font-family: var(--ff-secondary);
  font-size: var(--fs-15);
  font-weight: var(--fw-700);
}

.primary__heading {
  font-family: var(--ff-primary);
  font-size: var(--fs-32);
  font-weight: var(--fw-400);
  line-height: 1.12;
  letter-spacing: -0.02rem;
}

.primary__heading--alt {
  font-family: var(--ff-primary);
  font-size: var(--fs-32);
  font-weight: var(--fw-400);
  line-height: 1.12;
  letter-spacing: -0.02rem;
}

.secondary__heading {
  font-family: var(--ff-primary);
  font-size: var(--fs-32);
  font-weight: var(--fw-400);
  line-height: 1.12;
  letter-spacing: -0.02rem;
}

.tertiary__heading {
  font-family: var(--ff-primary);
  font-size: var(--fs-36);
  font-weight: var(--fw-400);
  line-height: 1;
  letter-spacing: -0.02rem;
}

.primary__subheading {
  font-family: var(--ff-secondary);
  font-size: var(--fs-18);
  font-weight: var(--fw-700);
  line-height: 1.38;
  letter-spacing: -0.01rem;
}

.secondary__subheading {
  font-family: var(--ff-primary);
  font-size: var(--fs-24);
  font-weight: var(--fw-400);
  line-height: 1.33;
  letter-spacing: -0.01rem;
}

.primary__text {
  font-family: var(--ff-secondary);
  font-size: var(--fs-15);
  font-weight: var(--fw-400);
  line-height: 1.86;
}

.secondary__text {
  font-family: var(--ff-secondary);
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
  line-height: 1.75;
}

::placeholder {
  color: var(--secondary-clr-one);
  opacity: 0.5;
  font-family: var(--ff-secondary);
  font-size: var(--fs-15);
  font-weight: var(--fw-700);
}

@media (min-width: 43.75rem) {
  .primary__link {
    font-size: var(--fs-15);
  }

  .primary__heading {
    font-size: var(--fs-48);
    line-height: 1.16;
  }

  .primary__heading--alt {
    font-size: var(--fs-48);
    line-height: 1.16;
  }

  .secondary__heading {
    font-size: var(--fs-48);
    line-height: 1.16;
  }

  .tertiary__heading {
    font-size: var(--fs-48);
    line-height: 1.16;
  }
}

@media (min-width: 62.5rem) {
  .primary__heading {
    font-size: var(--fs-72);
    line-height: 1;
    letter-spacing: -0.03rem;
  }

  .primary__heading--alt {
    font-size: var(--fs-56);
    line-height: 1;
    letter-spacing: -0.03rem;
  }

  .secondary__subheading {
    font-size: var(--fs-32);
    line-height: 1.25;
    letter-spacing: -0.02rem;
  }
}
