:root {
  --mw-700: 43.75rem;
  --mw-1000: 62.5rem;
  --mw-1110: 69.38rem;

  --fs-15: 0.94rem;
  --fs-16: 1rem;
  --fs-18: 1.13rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-48: 3rem;
  --fs-53: 3.31rem;
  --fs-56: 3.5rem;
  --fs-72: 4.5rem;

  --fw-400: 400;
  --fw-700: 700;

  --primary-clr-one: hsl(337, 48%, 49%);
  --primary-clr-two: hsl(220, 60%, 99%);

  --secondary-clr-one: hsl(207, 33%, 32%);
  --secondary-clr-two: hsl(207, 27%, 15%);
  --secondary-clr-three: hsl(337, 60%, 64%);
  --secondary-clr-four: hsl(207, 16%, 50%);

  --border-clr-one: hsl(207, 58%, 99%, 0.15);

  --boxshadow-clr-one: hsla(207, 33%, 32%, 0.25);
  --boxshadow-clr-two: hsla(207, 33%, 32%, 0.3);

  --transition: 0.8s all;
}
