.values-section {
  margin-top: 2.63rem;

  &__content {
    // max-width: var(--mw-1110);

    display: grid;
    justify-content: center;

    // margin: 0 auto;
  }

  &__heading {
    max-width: 21ch;

    color: var(--secondary-clr-one);
    text-align: center;
    margin: 0 1.5rem 0 1.5rem;
  }

  &__container {
    max-width: var(--mw-1110);

    margin: 0 auto;
  }

  &__value {
    display: grid;
    gap: 1rem;

    text-align: center;

    padding: 0 1.5rem;

    margin-top: 3rem;

    &-heading {
      text-align: center;
      color: var(--secondary-clr-one);
    }

    &-text {
      color: var(--secondary-clr-four);
    }
  }

  &__picture {
    margin-top: 4.75rem;
  }
}

@media (min-width: 43.75rem) {
  .values-section {
    margin-top: 3.81rem;

    &__content {
      display: grid;
      justify-content: center;
    }
    &__heading {
      max-width: 23ch;
      text-align: center;
      margin: 0 auto;
    }

    &__value {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 0.31rem;

      text-align: center;

      padding: 0 2.5rem 0 2.44rem;

      margin-top: 4rem;

      &-heading {
        text-align: start;
        color: var(--secondary-clr-one);

        font-size: 2rem;

        line-height: 1.25;
        letter-spacing: -0.02rem;
      }

      &-text {
        text-align: start;
        color: var(--secondary-clr-four);
      }
    }

    &__picture {
      margin-top: 5.75rem;
    }
  }
}

@media (min-width: 62.5rem) {
  .values-section {
    margin-top: 4.19rem;

    &__content {
      display: grid;
      justify-content: center;
    }
    &__heading {
      max-width: 26ch;
      text-align: start;

      padding: 0 2.5rem;
      margin: initial;
    }

    &__value {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 0.31rem;

      text-align: center;

      padding: 0 2.5rem 0 2.44rem;

      margin-top: 4.38rem;

      &-heading {
        text-align: start;
        color: var(--secondary-clr-one);

        font-size: 2rem;

        line-height: 1.25;
        letter-spacing: -0.02rem;
      }

      &-text {
        max-width: 66ch;

        text-align: start;
        color: var(--secondary-clr-four);
      }
    }

    &__picture {
      margin-top: 5.44rem;
    }
  }
}
