.features-section {
  // margin-top: 5.06rem;
  padding: 0 1.44rem 0 1.5rem;

  &__content {
    max-width: var(--mw-1110);

    margin: 0 auto;
  }

  &__list {
    display: grid;
    justify-items: center;
    gap: 2.19rem;

    &-item {
      max-width: 20rem;

      display: grid;
      justify-items: center;
      gap: 2.13rem;

      text-align: center;
    }

    &-container {
      display: grid;
      justify-items: center;
      gap: 0.94rem;
    }

    &-heading {
      color: var(--secondary-clr-one);
    }

    &-text {
      color: var(--secondary-clr-four);
    }
  }
}

@media (min-width: 43.75rem) {
  .features-section {
    // margin-top: 6.25rem;
    padding: 0 1.44rem 0 1.5rem;

    &__list {
      display: grid;
      justify-items: center;

      grid-template-columns: repeat(3, 1fr);
      gap: 0;

      &-item {
        max-width: 13.13rem;
      }

      &-icon {
        max-width: 5.5rem;
        height: auto;
      }
    }
  }
}

@media (min-width: 62.5rem) {
  .features-section {
    // margin-top: 9rem;
    padding: 0 1.44rem 0 1.5rem;

    &__list {
      display: grid;
      justify-items: center;

      grid-template-columns: repeat(3, 1fr);
      gap: 1.88rem;

      &-item {
        max-width: 21.25rem;
      }

      &-icon {
        max-width: 6.69rem;
      }

      &-text {
        line-height: 1.66;
        letter-spacing: -0.01rem;
      }
    }
  }
}
