.features-section {
  margin-top: 81px;
  padding: 0 1.44rem 0 1.5rem;

  &__content {
    max-width: var(--mw-1110);

    margin: 0 auto;
  }

  &__list {
    display: grid;
    justify-items: center;
    gap: 35px;

    &-item {
      max-width: 320px;

      display: grid;
      justify-items: center;
      gap: 34px;

      text-align: center;
    }

    &-container {
      display: grid;
      justify-items: center;
      gap: 15px;
    }

    &-heading {
      color: var(--secondary-clr-one);
    }

    &-text {
      color: var(--secondary-clr-four);
    }
  }
}

@media (min-width: 43.75rem) {
  .features-section {
    margin-top: 100px;
    padding: 0 1.44rem 0 1.5rem;

    &__list {
      display: grid;
      justify-items: center;

      grid-template-columns: repeat(3, 1fr);
      gap: 0;

      &-item {
        max-width: 210px;
      }

      &-icon {
        max-width: 88px;
        height: auto;
      }
    }
  }
}

@media (min-width: 62.5rem) {
  .features-section {
    margin-top: 9rem;
    padding: 0 1.44rem 0 1.5rem;

    &__list {
      display: grid;
      justify-items: center;

      grid-template-columns: repeat(3, 1fr);
      gap: 30px;

      &-item {
        max-width: 340px;
      }

      &-icon {
        max-width: 107px;
      }
    }
  }
}
